 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Über Uns</h2>
                    <hr class="star-primary">
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>Unsere lokale KJG ist in 3 Gruppen aufgeteilt.
					Zum einen gibt es die Leiterrunde, die sich
					regelmäßig trifft um Aktuelles aus den Gruppenstunden zu besprechen
					oder Wochenendaktionen zu planen.
					Zum anderen gibt es die Falten, die sich ebenfalls regelmäßig
					treffen und Hilfestellungen für die Leiterrunde anbieten.
					Neben der Leiterrunde und den Falten gibt es dann noch die
					Gruppe der Mitglieder,
					ohne die die KJG nicht das wäre was sie ist. Ohne ihre Teilnahme
					an Gruppenstunden und Zeltlagern wären Leiterrunde und Falten
					überflüssig.<p>
			    <hr class="star-primary">
			    </div>
				<div class="col-lg-4 col-lg-offset-2">
					<p>In den Gruppen der KJG treffen wir uns einmal pro Woche.
					Dann wird gebastelt, gespielt und gelacht.
					Im Moment haben wir 3 Kindergruppenstunden, wenn du
					vorbeikommen möchtest schreib uns doch einfach:</p>
						<ul>
							<li><p>Dienstags, 6te bis 10te Klasse,</p>
							<li><p>Mittwochs 2te Klasse,</p>
							<li><p>Donnerstags 3te und 4te Klasse.</p>
						</ul>
                </div>
                <div class="col-lg-4">
                    <p>Die Pfarrleitung sind die gewählten Ehrenamtlichen, die
					die Aktionen und bürokratischen Aufgaben übernehmen, im
					Oktober findet jährlich die Jahresplanung statt, wo sich
					jedes Mitglied gestallterisch einbringen kann.
					Zur Zeit besteht die Pfarrleitung aus:</p>
						<ul>
							<li><p>Julia Koch,</p>
							<li><p>Johanna Koch,</p>
							<li><p>Lara Marek</p>
							<li><p>Maximilian Fröhlich und </p>
							<li><p>Finn Ortlieb.</p>
						</ul>
				</div>
			</div>
        </div>
	</section>
