 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p style="padding-right: 20px; padding-left: 20px">
                    I am a pasionate mobile developer working in the field for over <b>3 years</b>. During my job I worked with multiple
                    mobile technologies like <b>Xamarin</b> and <b>Native iOS/Android</b>. In the last year I started working with Flutter and Django
                    creating my own application with 2 launched whitelabels.
                  </p>
                </div>
                <div class="col-lg-4">
                    <p style="padding-right: 20px; padding-left: 20px">
                      Out of office I am a <b> rock climber</b>. It's been 2 years since I fell in love with this sport.
                      My hardest climb was a lead route called <b> "Let's go back"</b>, graded <b>7c+</b>
                      for difficulty (it's very hard). When I'm not climbing or working on the job I like to play with personal projects
                      <b>(like this site)</b> and further develop my skills.
                    </p>
                </div>
              
            </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="/razvantmz-cv" class="btn btn-lg btn-outline">
                   See my CV
              </a>
          </div>
        </div>
        </div>
    </section>
