 <!-- About Section -->
    <section id="about" class="about-us">
       <div class="vertical-table">
           <div class="vertical-table__cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About Us</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <p>The Carmel Youth began as a group of catholic youth, brought together by a priest of the Carmelite Monastery, to become friends of Christ, friends of each other and friends to the world.</p>
                    </div>
                    <div class="col-lg-4">
                        <p>That spark has grown into a bright flame that encourages young adults to cultivate and share their talents with the world. Do something beautiful for God; for He has already made you beautiful.</p>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> Download Theme
                        </a>
                    </div>
                </div>
            </div>
           </div>
       </div>
    </section>
