<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class = "justi">Hello! I'm Pritesh Tadvi, an aspiring Data Scientist eager to embark on a journey in Data Science.</p>
<p class = "justi">I completed my Bachelor of Engineering in Information Technology with distinction.</p>
<p class = "justi">My eagerness of learning something drove me to DATA, to start with this I learnt Python language for programming, to grasp good grip over python I worked as intern for python developer, there I leant Django and Postgres.After that, I participate in a course called Google Data Analytics in which I learnt R language, some libraries of R and Kaggle(for posting my project), in the process I also learnt data cleaning, exploratory data analysis, data tranformation etc... I also learnt Advance Excel in another certification.I made few projects on my own in which I learnt flask, pgAdmin, scikit-learn, MLflow and AWS for deployment.</p>
<p class = "justi">I am also good at Teaching and building network, I believe the more you teach,your fundamentals become more clear.</p>
<p class = "justi">I am thrilled about the possibilities that lie ahead in Data Science, and I'm eager to dive in, learn and grow every step of the way. Thank you for taking the time to get to know me.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://green-illa-81.tiiny.site" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
