<section class="success" id="dataproduct" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="margin-bottom:30px;">What is a data product?</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px;">
          
          <p> A data product is a product or service that is based on data and provides value to users. It combines data from various sources, 
            analyzes it using algorithms, and presents the results in a user-friendly way, such as through visualizations, dashboards, reports, or as datasets or streams.</p>
          <p>Examples of data products include:

            <ul style="font-size: 1.2em;">
                <li>Personalized recommendations on an e-commerce website based on a customer's purchase history and browsing behavior (<a style="color:#ff6600;" href="https://app.snowflake.com/marketplace/listing/GZT0ZRRV7TT/sharethis-ecommerce-shopping-behavior-interest-data-trial">example</a>)</li>
                <li>Real-time traffic updates based on GPS data from millions of connected vehicles. (<a style="color:#ff6600;" href="https://datarade.ai/data-categories/vehicle-location-data">example</a>)</li>
                <li>Predictive maintenance systems that use data from sensors to identify potential equipment failures before they occur (<a style="color:#ff6600;"  href="https://marine-digital.com/predictive_maintenance_of_equipment">example</a>)</li>
                <li>Healthcare analytics platforms that use data from electronic health records to improve patient outcomes. (<a style="color:#ff6600;" href="https://www.definitivehc.com/data-products">example</a>)</li>

            </ul>
          </p> 
          <p>Data products can be built for a variety of industries and purposes, and are typically powered by data science, machine learning, and artificial intelligence techniques.
            They enable organizations to make data-driven decisions, improve customer experiences, and gain a competitive advantage.</p> 
          
        </div>
      </div>
     
      <div class="row">
        <div style="margin-left:20px; margin-right: 20px;  margin-top:20px; padding: 30px; border: 2px solid #4d4d4d; background-color: #eee; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;"">
          <p style="font-size: 1.4em;"><b>Open Data Product Specification (ODPS) is the standard machine-readable version of the above including JSON Schema. A machine-readable document is a document whose content can be readily processed by computers.</b></p>  
        </div>
        
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="margin-bottom:30px;margin-top: 70px;">Data Product Blueprints with GPT!</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px; text-align: center;">
          
          <p> Helps you to define your Data Product in standard Open Data Product Specification format. In other words, build data product blueprints.

            These data product blueprints are actually contracts between the stakeholders. It shows customers what to expect, defines developers what to build, 
            defines licensing and SLAs, and more. <br/><br/>Check out the video and <a class="usecases-link" href="https://chat.openai.com/g/g-SBWSYZZg1-open-data-product-builder">try it out if you have ChatGPT Plus!</a> </p>

           
          <p style="text-align: center;margin-top: 30px;"><iframe width="560" height="560" src="https://www.youtube.com/embed/ZPEEOR98ujw?si=0fxkojEJhN_iJMc7&amp;controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </p> 
          
        </div>
      </div>
      
      
    </div>
  </section>
