<!-- About Section -->
<section class="success" id="cases" style="background-color: #e1e1e1;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="margin-bottom:30px;">Usecase examples</h2>
          
        </div>
      </div>
      <div class="row">
        <div" style="padding-left: 60px;padding-right: 60px;">
          <h3>Increase internal transparency of valuable data </h3>
          <p>Many organisations also fail to break down internal data silos, impeding data sharing and collaboration across an organisations 
            business units. According to a study among 1000 business leaders and technology managers it was discovered that 
            <ul class="usecase-list-items">
              <li>45% say that data sharing can not happen freely in their organisation.</li>
              <li>91% of the surveys IT respondents say data is split between multiple cloud systems, a mix of cloud and on-premises systems, 
            or only on-premises systems, which impacts ubiquity of access. </li>
            </ul>
          </p>
          <p>Instead of exposing raw data to wide range of internal data consumers which are more and more non-technical business people, data is 
            productized into easy to consume valuable data products. The productized layer of data is the key in increasing the internal 
            transparency of valuable data. </p>
          
            <h4 class="usecases-h4">Solution provided by ODPS 2.0 </h4>
              <p>
                ODPS is a suitable protocol to break down the silos and internal organizational borders between business units. 
                With the help of ODPS data sharing can be enabled with one transparent metadata model. 
                Included standard business metadata elements express the data's purpose and value proposition. 
                ODPS enables provision of a machine-readable clearly defined access to data. 
                Data democratization is built on top of transparency and that is enabled by decoupling data from systems in order to provide easier and faster data discovery and comparison.
              </p>
              <p>
                
                <ul class="usecase-list-items">
                  <li>includes clear business level data product description model with more than 120 attributes</li> 
                  <li>contains possibbility to add use case example descriptions to provide more information on how to generate value from the data. </li>
                  <li>contains standardized model to define data access with 9 attributes. </li> 
                </ul>
              </p>
              
        </div>
      </div>
    </div>
  </section>
  