<!-- About Section -->
<section class="success" id="cases" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 style="margin-bottom:30px;">6 Usecase Examples</h2>
          <hr class="star-primary">
          
        </div>
      </div>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 200px;">
          <div class="flex-container">

            <div class="flex-child">
              Increase internal transparency and reuse of valuable data
            </div>
            
            <div class="flex-child">
              Boost sales by exposing value to the customer
            </div>
            
          </div>
          <div class="flex-container">
            <div class="flex-child">
              Robust framework for Data Product Team collaboration
            </div>
            <div class="flex-child">
              Next evolutionary step for Open Data
            </div>
          </div>

          <div class="flex-container">
            <div class="flex-child">
              Verify consistency of data products with linting
            </div>
            <div class="flex-child">
              Prototyping and mocking to verify product-market fit
            </div>
          </div>

        </div>
      </div>
      
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px;">
          <p>The below usecases can be fulfilled with multiple vendor-specific and isolated solutions. While those isolated solutions have value, ODPS is a fullstack data product model which offers solutions to all below cases in one single package.</p>

        </div>
      </div>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px;">
          <h3 class="usecases-h3">1 - Increase internal transparency and reuse of valuable data </h3>
          
          <p>Many organisations fail to break down internal data silos, impeding data sharing and collaboration across an organisations 
            business units. According to a <a class="usecases-link" href="https://itbrief.com.au/story/businesses-unable-to-properly-succeed-in-data-economy">study among 1000 business leaders and technology managers</a> it was discovered that 
            <ul class="usecase-list-items">
              <li>45% say that data sharing can not happen freely in their organisation.</li>
              <li>91% of the surveys IT respondents say data is split between multiple cloud systems, a mix of cloud and on-premises systems, 
            or only on-premises systems, which impacts ubiquity of access. </li>
            </ul>
          </p>
          
            <p>
            Instead of exposing raw data to wide range of internal data consumers which are more and more non-technical business people, data is 
            productized into easy to consume valuable data products. The productized layer of data is the key in increasing the internal 
            transparency of valuable data. According to the <a class="usecases-link" href="https://hbr.org/2022/07/a-better-way-to-put-your-data-to-work">Harvard Business Review</a> companies that treat data like a product can reduce the time it takes to implement it in new use cases by as much as 90%, 
              decrease their total ownership (technology, development, and maintenance) costs by up to 30%, and reduce their risk and data governance burden.</p>

              <h4 class="usecases-h4">5 ways Open Data Product Specification provides value</h4>
              <p>
                ODPS is a suitable protocol to break down the silos and internal organizational borders between business units. 
                With the help of ODPS data sharing can be enabled with one transparent metadata model. 
                Included standard business metadata elements express the data's purpose and value proposition. 
                ODPS enables provision of a machine-readable clearly defined access to data. 
                Data democratization is built on top of transparency and that is enabled by decoupling data from systems in order to provide easier and faster data discovery and comparison.
              </p>
              <p>
                
                <ul class="usecase-list-items">
                  <li>includes clear business level data product description model with more than 120 attributes</li> 
                  <li>contains option to add use case example descriptions to provide more information on how to generate value from the data. </li>
                  <li>includes option to link other related data products as alternatives or recommendations. </li>
                  <li>contains standardized model to define data access with 9 attributes. </li> 
                  <li>Versioning attribute and release notes as part of quality product lifecycle management</li>
                </ul>
              </p>
              
        </div>
      </div>
      <hr/>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px;">
          <h3 class="usecases-h3">2 - Boost sales by exposing value to the customer</h3>
          
          <p>There is currently a clear trend towards the development of new trading platforms specializing in the commercial exchange of data.
            The <a class="usecases-link" href="https://www.alliedmarketresearch.com/data-monetization-market">data monetization global market</a> is estimated to grow from US$2.1 billion in 2020 to US$15.5 billion in 2030 (compound annual growth rate of 22.1%).  
            Data monetization failures can be attributed to the fact that many customers are not prepared to pay the required price for the data. 
            One main reason is that customers do not recognize the value of the data before purchasing it because it cannot be fully 
            disclosed prior to purchase (known as the ‘Arrow paradox’). </p>
            <p>Customer wants to know the product and what it does in sufficient 
            detail as to understand its capabilities or have information about the facts to decide whether or not to buy it. Exposing the full data product prior
            to the purchase is not a viable option for the provider, but there are other means to convince the customer. 
          </p>
          <p>The problem is closely tide to Customer eXperience (CX). Customers expect to know the quality level of data, see (and even try) how it can provide value, what are 
            the conditions for use, how provider is handling governance, are there alternative or complimentary data products, and get the data in a way that 
          fits their workflow.</p>
          
            
          <h4 class="usecases-h4">10 ways Open Data Product Specification provides value</h4>
              <p>
                ODPS has been designed to support building of a great customer experience. With below listed features of the ODPS customer is given a thorough understanding of the data product to ensure that it fits their 
                needs and surprises are minimized to ensure a great Customer eXperience. 
              </p>
              <p>
                
                <ul class="usecase-list-items">
                  <li>ODPS defines a framework for data contracts between provider and consumers with 120+ attributes</li>
                  <li>ODPS contains 8 standardized pricing plans including freemium which allows customers to validate value before committing to paid plans</li> 
                  <li>Expose data product related usecases as part of the package - customer can see how data product provides value </li>
                  <li>ODPS model contains possibility to add sample data for value verification purposes - handy especially if data is sold as a dataset</li>
                  <li>Built-in section for SLA offers means to expose in details the level of service for which provider commits to</li> 
                  <li>7 indicators containing built-in Data Quality framework offers method to build trust in the data product content.</li> 
                  <li>Data Product guides providers to offer clear value proposition as part of the data product description.</li> 
                  <li>With help of 21 items wide licensing model offers clear model to communicate conditions, privacy, and rights to the customer.</li> 
                  <li>Versioning attribute to express quality product lifecyle management</li>
                  <li>Output file format attribute to clarify delivery content</li>
                </ul>
              </p>
          </div>
      </div>

      <hr/>
      <div class="row">
        <div style="padding-left: 20px;padding-right: 20px;">
          <h3 class="usecases-h3">3 - Robust framework for Data Product Team collaboration</h3>
          
          <p>Since data is treated like a product for a good reason, it will change the way we should look at teams working with data. 
            Data ownership transitions from centralized to decentralized, architecture migrates from monolithic to distributed, 
            and accountabilities change as organizations move from a top-down to a federated governance model. </p>
            <p>Data Product is built by 
            talented people put together from multiple disciplines: tech, marketing, business, security, and legal. They have the ownership of the 
            data product. The team is lead by “data product owner” who is accountable for the success of a domain’s data products in delivering value, 
            satisfying and growing the data users, and maintaining the life cycle of the data products.
            
          </p>
          <p>The above might look familiar if you are familar with the Data Mesh. Your enterprise data mesh driven journey will change the way 
            data teams are organized and the way they work. This data product team needs something common to bind their efforts together. </p>
          
            <h4 class="usecases-h4">9 ways Open Data Product Specification provides value</h4>
              <p>
                ODPS 2.0 has been built on top of 4 aspects: business, tech, legal, and ethical use of data. ODPS offers a standard model 
                to Data Product teams to collaborate. Each discipline contributes to the same data product and results are put together 
                in a standard machine-readable metadata model – ODPS. The standard reduces need to reinvent the wheel by offering ready-made solutions
                based on acadmemic research and best practices applied in the data economy.  
              </p>
              <p>
                
                <ul class="usecase-list-items">
                  <li>ODPS defines a holistic framework for data contracts between provider and consumers with 120+ attributes</li>
                  <li>Is not limited to technical aspects only but contains also business and marketing critical elements such as pricing plans, licensing, rights, value proposition to mention a few.</li>
                  <li>Engage marketing to create surgical precision and timely customer targeting with help of product categories, brand slogan, product value proposition, description, visibility and status attributes</li>
                  <li>21 attributes for licensing model to secure your rights as provider well as to communicate conditions, privacy, and rights to the customer.</li>
                  <li>8 ready-made standardized pricing plan models to define business plan in minutes</li>
                  <li>Taxation attributes included to enable tax compliance</li>
                  <li>DataOps defined in 14 attributes to enable automation</li>
                  <li>Data access to content with 9 standard attributes to design and define customer facing interface</li>
                  <li>Data quality framework with 7 described standard indicators</li>
                </ul>
              </p>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div style="padding-left: 20px;padding-right: 20px;">
            <h3 class="usecases-h3">4 - Next evolutionary step for Open Data</h3>
            
            <p>Open data has become part of the economic life of cities by providing access to data maintained and often monopolized by governments. 
              So far metadata on open data has been defined according to DCAT. </p>
              <p>DCAT standard was adequate for open data catalogs. <a class="usecases-link" href="https://tealfeed.com/open-data-catalogs-dead-sgy8q">Now that leading open data governments are productizing data</a> (for example France and South Korea) and building data marketplaces, DCAT is not enough. 
                DCAT is extensive standard but not suitable for marketplace purposes in which data known as open data will be served both as open data without costs, but also with commercial plans. Open Data offering has 
                lacked quality as well. With ODPS a clear 7 indicator data quality framework is added to the metadata. 
            </p>
            <p>In addition to that, in order to take full advantage of open data, it must be treated as data product and be offered side by side with private sector commercial data. Data consumer 
              CX requires that all data is easy to consume, discoverable and clearly with similar fashion described. Open data catalogs will be merged with data marketplaces over the coming years. 
              This requires data as a product approach to be applied on open data as well. </p>
            
              <h4 class="usecases-h4">9 ways Open Data Product Specification provides value</h4>
                <p>
                  ODPS provides extendable metadata model for open data driven data products. ODPS extends the DCAT model and offers means to bring open data to the data economy instead. So far open data has existed
                  as an isolated island separate from data economy. Now we can use the same data product metadata model for open data and commercial data. On top of that monetization of open data is also on the radar
                  of some leading nations.   
                </p>
                <p>
                  
                  <ul class="usecase-list-items">
                    <li>ODPS defines a framework for data contracts between provider and consumers with 120+ attributes</li>
                    <li>ODPS contains 8 standardized pricing plans including freemium which allows publishing data as open data as usual, but includes also paid plans for future plans</li>
                    <li>Expose open data product related usecases as part of the package - customer can see how open data product provides value </li>
                    <li>Versioning attribute to express quality product lifecyle management</li>
                    <li>Output file format attribute to clarify delivery content</li>
                    <li>Clear section for licencing that fits in open data as well</li>
                    <li>Built-in section for SLA offers means to expose in details the level of service for which provider commits to</li> 
                    <li>7 indicators containing built-in Data Quality framework offers method to build trust in the data product content.</li> 
                    <li>contains standardized model to define data access with 9 attributes. </li>
                  </ul>
                </p>
            </div>
          </div>

          <hr/>
          <div class="row">
            <div style="padding-left: 20px;padding-right: 20px;">
              <h3 class="usecases-h3">5 - Verify consistency of data products with linting</h3>
              
              <p>When an organization is planning to publish multiple data products to the markets, it is obvious that all data products should have the same “look & feel” to 
                ensure easier and cost effective maintenance as well as a great data product consumer experience. Creating a Data Product Design Guide is a must have. 
                The Design Guide assists the Product Manager and the data product team to design and build consistent results. However, to ensure that Design Guide is applied, it must be tested.
              </p>
              <p> 
                In order to make machine-driven testing of consistency we need to have machine-readable specification of the data product – Open Data Product Specification. 
                Next step is to apply  concept called “linting” to the consistency testing.   
              </p>
              <p>In common meaning linting is the process of running a program that will analyze code for potential errors. Linting helps you follow standard data product guidelines. 
                Standardizing data products can reduce clutter, help others understand it, and ultimately save time. Standards usually follow specific security measures. 
                Thus, passing your data product through a linter could help reduce loopholes or vulnerabilities. With help of ODPS you can create linting rules and run consistency tests automatically. </p>
              
                <h4 class="usecases-h4">5 ways Open Data Product Specification provides value</h4>
                  <p>
                    ODPS provides machine-readable metadata model of a data product. Against it you can build data product linting tools to vefify consistency of data products in your portfolio.     
                  </p>
                  <p>
                    
                    <ul class="usecase-list-items">
                      <li>ODPS defines a machine-readable data product metadata model with 120+ attributes - no need to reinvent</li>
                      <li>ODPS is vendor-neutral and open source - enables open tools development</li>
                      <li>With help of ODPS you can create linting rules and run reusable linting tests automatically</li>
                      <li>Spot potential errors early in the process before pushing to production</li>
                      <li>Ensure your Data Product Design Guide is followed</li>
                    </ul>
                  </p>
              </div>
            </div>

            <hr/>
          <div class="row">
            <div style="padding-left: 20px;padding-right: 20px;">
              <h3 class="usecases-h3">6 - Prototyping and mocking to verify product-market fit</h3>
              
              <p>"Product-market fit," writes startup coach and investor Marc Andreessen, "means being in a good market with a product that can satisfy that market." 
                When an entrepreneur identifies a need in the market and builds a solution that customers want to buy, that's product-market fit. 
              </p>
              <p> 
                Product mockups are frequently used to present a final product in a real-life context. In order to avoid waste and develop a solution before having a verification from the markets, 
                you should use mocking / prototyping. This is where Open Data Product Specification becomes handy.    
              </p>
              <p>Open Data Product Specification defines the data product metadata in machine-readable format and from that you can generate product views for humans. An example would be a 
                visual presentation of how this data product will be presented in a marketplace. Since you use ODPS you can have multiple versions and iteration is easy. Also A/B testing is rather easy. </p>
              

                <h4 class="usecases-h4">6 ways Open Data Product Specification provides value</h4>
                  <p>
                    ODPS provides machine-readable metadata model of a data product. Against it you can generate products views for product-market fit testing and also for A/B -testing. Open source version of 
                    <a  class="usecases-link" href="https://tealfeed.com/open-data-product-visualizer-drive-great-tk9eh">"ODPS visualizer"</a> or mockup tool is already in progress.     
                  </p>
                  <p>
                    
                    <ul class="usecase-list-items">
                      <li>Use it to ensure product design matches market needs before investing more time and money in development.</li>
                      <li>ODPS defines a machine-readable data product metadata model with 120+ attributes - no need to reinvent</li>
                      <li>ODPS is vendor-neutral and open source - enables open tools development</li>
                      <li>ODPS contains 8 standardized pricing plans including freemium which allows you to generate pricing plans and ask for customer feedback as if the product would already exist</li> 
                      <li>Generate product views from one standard source format for A/B testing</li>
                      <li>Create holistic (not just technical data content) views to data product candidates</li>
                      
                    </ul>
                  </p>
              </div>
            </div>

            <div class="row">
              <div style="padding-left: 20px;padding-right: 20px;text-align: center; margin-top: 50px;">
                <img src="img/down-arrow.png"/>
              </div>
            </div>
        </div>
      </div>
     
  </section>
  