<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Autori</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
  <div class="col-md-4">
    <div class="">
      <a href="">
        <img src="https://user-images.githubusercontent.com/61086486/200141960-8905829d-27b4-4588-8f22-7e7a8f8d6c6b.png" alt="Lights" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <a href="">
        <img src="https://user-images.githubusercontent.com/61086486/200141959-a300140e-240e-41df-9e17-265a929b4ead.png" alt="Nature" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <a href="">
        <img src="https://user-images.githubusercontent.com/61086486/200141962-dfc9fe1a-4ec1-48de-9721-de90a38792d6.png" alt="Fjords" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
</div>
