<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Autori</h2>
        <hr class="star-primary">
      </div>
    </div>
        <div class="row">

          <div class="col-md-4 text-center">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                <img src="https://user-images.githubusercontent.com/61086486/200141960-8905829d-27b4-4588-8f22-7e7a8f8d6c6b.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Miloš Papić</h4>
                <span></span>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                <img src="https://user-images.githubusercontent.com/61086486/200141959-a300140e-240e-41df-9e17-265a929b4ead.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dalibor Čukljević</h4>
                <span></span>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                <img src="https://user-images.githubusercontent.com/61086486/200141962-dfc9fe1a-4ec1-48de-9721-de90a38792d6.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Zoran Luković</h4>
                <span></span>
                <p></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
