<!-- Contact Section -->
<section id="contact"  style="background-color: #fff;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="margin-bottom:30px;">Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div style="padding-left: 0px;padding-right: 0px;">
        <div class="flex-container">

          <div class="flex-child" style="border-style: none;">
            <h3 style="margin-bottom:20px;">Jarkko Moilanen</h3>
            <img style="display: block;margin-left: auto; margin-right: auto;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;" src="img/jarkko.png"/>
            <p style="margin-top:30px;margin-bottom: 50px;"><a style="color:#000;" href="https://www.linkedin.com/in/jarkkomoilanen/">Contact Jarkko in Linkedin</a></p>
          </div>
          
          <div class="flex-child" style="border-style: none;">
            <h3 style="margin-bottom:20px;">Jussi Niilahti</h3>
            <img style="display: block;margin-left: auto; margin-right: auto;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;" src="img/jussi.png"/>
            <p style="margin-top:30px;margin-bottom: 50px;"><a  style="color:#000;margin-top:30px;" href="https://www.linkedin.com/in/jussi-niilahti/">Contact Jussi in Linkedin</a></p>
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-child" style="border-style: none;">
            <h3>Toni Luhti</h3>
            <img style="display: block;margin-left: auto; margin-right: auto;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;" src="img/toni.png"/>
            <p style="margin-top:30px;"><a  style="color:#000;margin-top:30px;" href="https://www.linkedin.com/in/toni-luhti/">Contact Toni in Linkedin</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


