<!DOCTYPE html>
<html lang="en">
    <head>
        <title>How To Create</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Our Team Section -->
        <section class="our-team">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our Team Section</h2>
                        <p>Bootstrap 4 our team section source code we can use it for our clients, customers, testimonials, and any types of the section where we want to describe our people who are working with us</p>
                    </div>
                </div>
                <hr class="mb-5 mt-4">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <img src="images/user-img-2.jpg" class="img-fluid" alt="" />
                            <div class="member-info">
                                <div class="member-detail">
                                    <h4>Manish Kumar</h4>
                                    <span>Web Designer</span>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <img src="images/user-img-3.jpg" class="img-fluid" alt="" />
                            <div class="member-info">
                                <div class="member-detail">
                                    <h4>Rajnish Kumar</h4>
                                    <span>Web Developer</span>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <img src="images/user-img-4.jpg" class="img-fluid" alt="" />
                            <div class="member-info">
                                <div class="member-detail">
                                    <h4>Salim Malik</h4>
                                    <span>IOS Developer</span>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="member">
                            <img src="images/user-img-1.jpg" class="img-fluid" alt="" />
                            <div class="member-info">
                                <div class="member-detail">
                                    <h4>Arpit Arora</h4>
                                    <span>Angular Developer</span>
                                </div>
                                <div class="social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i 
