<section class="cv-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                <h2>Core Califications</h2>
                <br>
            </div>
        </div>
        <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                {% for entry in page.califications %}
                  <p>- {{ entry }}</p>
                {% endfor %}
              </div>
        </div>
    </div>
</section>
