<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.location }}</h3>
          <p>
            {% for adress in site.address %}
            {{ adress.line }} <br>
            {% endfor %}
          </p>
          <p><a href="https://medium.com/@kyyberi/is-open-data-product-specification-the-swagger-of-the-data-economy-fe2349e39ea7">Short history of ODPS</a></p>
          <p><a href="img/ODPS-logos.zip">ODPS logos</a></p>
          <p><a href="https://open-data-product-initiative.github.io/open-data-product-spec-2.0/">ODPS 2.0</a></p> 
          <p><a href="https://opencollective.com/odpi">Open Data Product Initiative</a></p> 
          <p><a href="https://github.com/Open-Data-Product-Initiative">Github home</a></p>

        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.social }}</h3>
          
            
              <a href="{{ network.url }}">Creative Commons BY-SA 4.0</a>
           
        </div>
        <div class="footer-col col-md-4">
          <h3>{{ site.footer.credits }}</h3>
          
          <p>{{ site.credits }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
