
    <!-- recent Grid Section -->
    <section id="recent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Aktuelles</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.categories["recent"] %}
                    <div class="col-sm-4 recent-item">
                        <a href="#recentModal-{{ post.modal-id }}"
                           class="recent-link"
                           data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                  <div class="font font-120">
                                    {{ post.title }}
                                  </div>
                                </div>
                            </div>
                            <img src="img/aktuelles/{{ post.img }}"
                                 class="img-responsive"
                                 alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
