<!-- Portfolio Grid Section -->
<section id="custom-app">
  <div class="container custom-app-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Gym Solution</h2>
        <h4>Helps climbing gyms organise their routes, competitions and events.</h4>
        <hr class="star-primary">
      </div>
    </div>
    <div class="custom-app-flex-row">
      <div class="custom-app-flex-item custom-app-item">
        <img src="skai_topo.jpg" class="img-responsive" />
      </div>
      <div class="custom-app-flex-item custom-app-item">
        <img src="skai_details.jpg" class="img-responsive"/>
      </div>
      <div class="custom-app-flex-item custom-app-item">
        <img src="skai_rank.jpg"   class="img-responsive" />
      </div>
    </div>

  </div>
</section>   <!-- Portfolio Grid Section -->

<section id="custom-app">
  <div class="container custom-app-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>The app has 2 Whitelabels, used by 2 climbing gyms in Romania:</h4>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 text-center">
          <p>One Move Climbing Gym</p>
          <img src="one_move_logo2.png" class="img-responsive" />
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <img src="app_store.png" class="img-responsive" />
              </div>
              <div class="col-sm-2">
                <img src="play_store.png" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <p>Skai urban crag</p>
          <img src="skai_logo2.png" class="img-responsive" />
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <img src="app_store.png" class="img-responsive" />
              </div>
              <div class="col-sm-2">
                <img src="play_store.png" class="img-responsive" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Topo section -->
<section id="custom-app">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col-md-4 vertical-center">
        <img style="float:left" src="gifs/topo_overall.gif" class="custom-app-gif"/>
      </div>
      <div class="col-md-8 vertical-center">
        <div>

          <h4>Route topo section:</h4>
          <p>The topo covers Lead Routes, Boulder Problems and customised challenges.
            The user can group them after grade or location. Tapping on a route will navigate them to a route details screen,
            allowing them to see an image of the route, details about the setter and who has done it. Here they can mark a route
            as sent with 3 options for their performance:
            Flash, 2nd go and done. Marking a route as done will change the users global ranking points.</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- Gym Ranking section -->
  <section id="custom-app">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-md-8 vertical-center">
          <div>

            <h4>Gym ranking section:</h4>
            <p>
              We offer a gym ranking. Here you can see the performance of every user filtered by category or gender.
              Also you can see the ranking for current month, past months or since the start.
              The ranking is computed based on the numbers of attempts each user made on each route,
              the first time. Sending a route the second time will not change the ranking.
            </p>
          </div>
        </div>
        <div class="col-md-4 vertical-center">
          <img style="float:right" src="gifs/ranking.gif" class="custom-app-gif"/>
        </div>
      </div>
    </div>
  </section>


  <!-- Topo section -->
  <section id="custom-app">
    <div class="container">
      <div class="row text-center align-items-center">
        <div class="col-md-4 vertical-center">
          <img style="float:left" src="gifs/event.gif" class="custom-app-gif"/>
        </div>
        <div class="col-md-8 vertical-center">
          <div>
            <h4>Events section</h4>
            <p>The events part of the application allow the admins to create events and competitions.
              A competition is created with a multitude of options:
              <ul text-left>
                <li>custom categories</li>
                <li>custom grades points</li>
                <li>custom competition stages: preselections, semifinal, final</li>
                <li>custom ranking algoritms for each competition stage</li>
                <li>number of people who enter in the semifinal/final</li>
                <li>support 2 modes: teams of 2 or individual</li>
                <li>ranking for each stage</li>
                <li>full control of the state of the stages(the stages can be closed or open at anytime)</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
