
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <img src="skai_topo.jpg" class="img-responsive" width="200em"/>
      </div>
      <div class="col-sm">
          <img src="https://github.com/razvantmzz/Skai/blob/main/Images/skai_details.jpg"  />
      </div>
      <div class="col-sm">
          <img src="https://github.com/razvantmzz/Skai/blob/main/Images/skai_rank.jpg"  />
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
  </div>
  </div>
</div>
</header>
