    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ site.url }}/img/profile.png" alt="">
                    <div class="intro-text">
                        <!-- <span class="name">{{ site.title }}</span> -->
                        <span class="name">Why I Exist</span>
                        <hr class="star-light">
                        <!-- <span class="skills">{{ site.skills }}</span> -->
                        <span class="skills">
                            Before my untimely death, I would like to optimize societal resource allocation in a manner than minimizes suffering.
                            So I am devoting my time to efforts that can produce the most value for others. I donate all proceeds
                            above the average wage to organizations most effective at reducing suffering per dollar spent.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>