<!-- Header -->
<header>
  <div class="container">
    <div class="row">
			<div class="intro-text">
				<span class="name"><!-- {{ site.title }} --> my face is red</span>
				<span class="skills">
					<!-- {{ site.skills }} -->
					Hello! Introducing my work. Issued from 2021 to 2022.
					WEB PUBLISHER #Html #Css #JQuery
				</span>
				<!-- <hr class="star-light" /> -->
			</div>
      <div class="col-lg-12 profile-content face">
				<img class="img-responsive main-profile" src="img/main_face.png" alt="profile-pic" />
				<div class="face-bg"></div>
      </div>
    </div>
  </div>
</header>
