    <!-- Header -->
    <header>
        <div class="headerContainer">
            <div class="row">
                <div class="col-lg-12">
				    <br>
					  <div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
						  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						  <li data-target="#myCarousel" data-slide-to="1"></li>
						  <li data-target="#myCarousel" data-slide-to="2"></li>
						  <li data-target="#myCarousel" data-slide-to="3"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
						  <div class="item active">
							<img src="img/slideshow/profile1.jpg" alt="Chania" width="1200" height="720">
							<div class="carousel-caption">
							<h3>ಇದು ನಮ್ಮೆದೆಯ ಕೂಸುಮರಿ</h3>
						  </div>
						  </div>

						  <div class="item">
							<img src="img/slideshow/profile2.jpg" alt="Chania" width="1200" height="720">
							<div class="carousel-caption">
							<h3>ಇದು ನಮ್ಮೆದೆಯ ಕೂಸುಮರಿ</h3>
						  </div>
						  </div>
						
						  <div class="item">
							<img src="img/slideshow/profile3.jpg" alt="Flower" width="1200" height="720">
							<div class="carousel-caption">
							<h3>ಇದು ನಮ್ಮೆದೆಯ ಕೂಸುಮರಿ</h3>
						  </div>
						  </div>

						  <div class="item">
							<img src="img/slideshow/profile4.jpg" alt="Flower" width="1200" height="720">
							<div class="carousel-caption">
							<h3>ಇದು ನಮ್ಮೆದೆಯ ಕೂಸುಮರಿ</h3>
						  </div>
						  </div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
						</a>
					  </div>
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
