 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>S'inscrire</h2>
                     <hr class="star-light">
                </div>
            </div>
            <div>
              <p>Note : Vous pouvez vous inscrire pour le matin, l'après-midi, ou les deux. </p><p>Si vous souhaitez venir toute la journée, il faudra vous inscrire aux deux séances.</p>
            </div>
            <div align = "center">
              <a title="Logiciel billetterie en ligne" href="https://www.weezevent.com//?c=sys_widget" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=270966&lg_billetterie=1&code=42711&resize=1&width_auto=1&color_primary=653696" data-width="650" data-height="600" data-id="270966" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a><script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
            </div>
            </div>
        </div>
    </section>