 <!-- About Section -->
    <section id="kjg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>KJG</h2>
                    <hr class="star-primary">
                </div>
            </div>
			<div class="row">
			   <div class="col-lg-12 text-center">
					<p>Die KJG ist ein demokratischer Kinder- und Jugendverband mit dem
					Bund der Deutschen Katholischen Jugend (BDKJ) als Dachverband in
					Deutschland, sowie dem fimcap (Fédération Internationale des
					Mouvements Catholiques d’Action Paroissale) als
					internationalen Dachverband.
					<br>
					Den Ortsverband Dortmund-Wickede gibt es seit etwa 40 Jahren, sie
					wurde kurz vor dem ersten Zeltlager 1973 gegründet.
          Die aktuelle Bundessatzung findet ihr
          <a target="_blank" href="{{ site.url }}/dokumente/Bundessatzung.pdf">hier</a>.<p>
			    <hr class="star-primary">
			    </div>
				<div class="col-lg-12 text-center">
					<p>Die KJG möchte Kindern und Jugendlichen Mut machen sich
					politisch, sozial oder religiös in der eigenen Gemeinde
					oder auf höheren Ebenen zu engagieren, dass sie
					gesellschaftliche Verantwortung übernehmen können, um
					letztendlich an der Gestaltung der Gesellschaft und des
					Alltages teil zu nehmen.</p>
			    </div>
				<div class="col-lg-12 text-center">
				<hr class="star-primary">
				<p>Die Kinder in den Gruppenstunden werden ehrenamtlich von
				älteren Mitgliedern der KJG betreut. Um eine Gruppe oder
				Aktion betreuen zu können, legen wir Wert darauf, dass unsere
				Leiter ein Leiterschein
				(<a target="_blank" href="http://www.juleica.de/">JuLeiCa</a>)
				oder andere Gruppenleiterkurse,
				sowie einen Ersthilfekurs belegt haben und regelmäßig
				Fortbildungen besuchen. Außerdem haben wir ein
        <a target="_blank" href="{{ site.url }}/dokumente/Schutzkonzept.pdf">Schutzkonzept</a>
        und einen
        <a target="_blank" href="{{ site.url }}/dokumente/Verhaltenskodex.pdf">Verhaltenskodex</a>
        entwickelt, mit denen wir uns identifizieren.</p>
				</div>
			</div>
        </div>
	</section>
