
    <!-- Portfolio Grid Section -->
    <section id="members" class="portfolio">
        <div class="vertical-table">
            <div class="vertical-table__cell">
                <div class="container portfolio-flex-grid">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2>Members</h2>
                            <hr class="star-primary">
                        </div>
                    </div>
                    <div class="owl-carousel">
                        {% assign posts = site.posts | where: "type", "members" %}
                        {% for post in posts %}
                            <div class="member-card">
                                <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                    <img src="img/{{ post.img }}" class="img-responsive member-profile-pic" alt="{{ post.alt }}">
                                    <p>{{ post.title }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                </div>
        </div>

    <style>
        .owl-nav {
            font-size: 3em;
            text-align: center;
        }
        .member-card {
            text-align: center;
        }
    </style>

    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });
            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });
        });
    </script>
    </section>
