 <!-- recent Modals -->
 {% for post in site.categories["recent"] %}
    <div class="recent-modal modal fade"
         id="recentModal-{{ post.modal-id }}"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal"
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/aktuelles/{{ post.img }}"
                                 class="img-responsive img-centered"
                                 alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Datum:
                                    <strong>
                                      {{ post.project-date }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button"
                                    class="btn btn-default"
                                    data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                    Schließen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
