<!-- DOPI Section -->
<section id="support">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Support development via Open Data Product Initiative</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p style="text-align: center;color:#000;">Support development of Open Data Product Specification via our mothership organization which is part of the Open Collective. </p>
          <p style="text-align: center;color:#000;">Companies which donate 100 €/$ gets their logo in the site for a year. Individual brave souls get their name on the site for 20 €/$ permanently!</p>
          <h3 style="text-align: center;color:#000;">Support us with a small donation - click below! </h3>
          <p style="text-align: center;"><a href="https://opencollective.com/odpi/donate?interval=oneTime&amount=20&name=&legalName=&email="><img width="650px" src="img/support.png"/></a></p>
        </div>
      </div>
    </div>
  </section>