<!-- DOPI Section -->
<section id="support">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Support development via Open Data Product Initiative</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p style="text-align: center;">Support development of Open Data Product Specification via our mothership organization which is part of the Open Collective. </p>
          <p style="text-align: center;"><img width="600px" src="img/support.png"/></p>
        </div>
      </div>
    </div>
  </section>