<!-- DOPI Section -->
<section id="support">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Support development via global Open Collective</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p style="text-align: center;color:#000;">Support development of Open Data Product Specification via our mothership organization Open Data Product Initiative which is part of the Open Collective. </p>
          <p style="text-align: center;color:#000;">Companies which donate 100 €/$ gets their logo on the site for a year. Individual brave souls get their name on the site for 20 €/$ permanently!</p>
          <h3 style="text-align: center;color:#000;">Support us with a small donation - click below! </h3>
          <p style="text-align: center;"><a href="https://opencollective.com/odpi/donate?interval=oneTime&amount=20&name=&legalName=&email="><img width="380px" src="img/support.png"/></a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center" style="margin-top:100px;">
          <h2>Funded by following organizations</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div style="padding-left: 0px;padding-right: 0px;">
          <div class="flex-container">
  
            <div class="flex-child" style="border-style: none;">
              <h3>FUUG Foundation</h3>
              <a href="https://fuug.fi/"><img style="" src="img/fuug.png"/></a>
            </div>
            
            <div class="flex-child" style="border-style: none;">
              <h3>Mindmote Oy</h3>
              <a href="https://mindmote.fi/"><img style="" src="img/mindmote.png"/></a>
            </div>

            <div class="flex-child" style="border-style: none;">
              <h3>Data Product Business</h3>
              <a href="hhttps://www.dataproductbusiness.com/"><img style="" src="img/dpb.png"/></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>