 <!-- About Section -->
    <section class="programme" id="partenaires">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Merci à nos partenaires :</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class = "bodygrid">
                <grid1>nav</grid1>
                <grid2>section</grid2>
                <grid3>section</grid3>
                <grid4>section</grid4>
            </div>
            </div>
        </div>
    </section>