
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How can I help you?</h2>
                    <hr class="star-primary">
                    <span class="intro-text">
                        These are my areas of expertise.  Click to learn more or contact me if you think
                        I could provide value to you or your organization.
                    </span>
                    
                </div>
            </div>
            <br>
            <div class="row">
                {% assign items = site.posts | sort: 'modal-id' %}
                <!-- Give items with long title the highest modal-id so they're at the bottom or it breaks the layout -->
                {% for post in items %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-info-circle fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.url }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                        <h4 style="text-align: center;">{{ post.title }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>