 <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Programme :</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Matinée</p>
                    <p>09h30 - Nicolas Menoux, <em>Sujet à venir</em>
                    <p>10h30 - Intervenant à confirmer</p>
                    <p>11h30 - Fabien Baradel, <em>Deep learning for video understanding</em></p>
                </div>
                <div class="col-lg-4">
                    <p>Après-midi</p>
                    <p>14h00 - Michel Caradec, <em>Les Panama Papers</em>
                    <p>15h00 - Vincent Lastennet, <em>Le datajournalisme chez DataSpot</em></p>
                    <p>16h00 - Annie Blandin, <em>La protection des données</em></p>
                </div>
            </div>
        </div>
    </section>