<section class="cv-section" id="custom-app">
      <div class="container debug">
        <div class="col-lg-12 text-center">
<h4>{{ page.whitelabels_title }}</h4>
</div>
        <div class="row">
          {% for label in page.whitelabels %}
          <div class="col-sm-4 {% if page.whitelabels.first == label %}
            col-sm-offset-2
          {% endif %} text-center">
          <p>{{ label.name }}</p>
          <img src="{{ label.img }}" class="img-responsive" />
          <div class="row">
            <div class="col-sm-6">
              <a href="{{ label.app_store_url }}">
                <img src="/img/gym/app_store.png" class="responsive" />
              </a>
            </div>
            <div class="col-sm-6">
              <a href="{{ label.play_store_url }}">
                <img src="/img/gym/play_store.png" class="responsive" />
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>