 <!-- Skills Modals -->
 {% for post in site.categories.skills %}
    <div class="portfolio-modal modal fade" id="skillsModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- <h2>{{ post.title }}</h2> -->
                            <img src="img/skills/{{ post.img }}" width="60%" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            </br>
                            </br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
